In [3]:

cloud_config= {
        'secure_connect_bundle':'secure-connect-predictive-maintenence.zip'
}
auth_provider = PlainTextAuthProvider('TwftYiLLzOPdWfCjSuKRWGcj', 'N30vWjycqEiRHlUq7-q.gC5bHLM0xfUWmB_S5W8zoBNjzGZCOta1M3ZIbPLun3mPkypoG7d9CmBop40acOX1ZhTXc+ipoBh7IT_umeDwZS8sj4+Ki9nXAw0,Wc72pX,H')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [2]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp37-cp37m-manylinux1_x86_64.whl (3.8 MB)
     |████████████████████████████████| 3.8 MB 331 kB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /home/aditya/anaconda3/lib/python3.7/site-packages (from cassandra-driver) (1.14.0)
Collecting geomet<0.3,>=0.1
  Using cached geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /home/aditya/anaconda3/lib/python3.7/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.0)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
self.session.execute("CREATE TABLE concentration_of_lc50.qsar_fish_toxicity(Unnamed  int PRIMARY KEY,CIC0 float, SM1_Dz float, GATS1i float,NdsCH float,NdssC float, MLOGP float, LC50 float );")

In [4]:
type(23.2)

float

In [7]:
session.execute("CREATE TABLE train_data.abc(subhash int PRIMARY KEY,adi text,arif float);")

In [8]:
import pandas as pd

In [10]:
df=pd.read_csv("Total_Train_Data.csv")
df

,Unnamed: 0,Unnamed: 0.1,unit_ID,cycles,setting_1,setting_2,setting_3,T2,T24,T30,...,NRc,BPR,farB,htBleed,Nf_dmd,PCNfR_dmd,W31,W32,failure,RUL
0,0,0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,...,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670,321,320
1,1,1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,...,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552,321,319
2,2,2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,...,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213,321,318
3,3,3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,...,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176,321,317
4,4,4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,...,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754,321,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160354,160354,53754,260,312,20.0037,0.7000,100.0,491.19,608.79,1495.60,...,8169.64,9.3035,0.03,369,2324,100.00,24.36,14.5189,316,4
160355,160355,53755,260,313,10.0022,0.2510,100.0,489.05,605.81,1514.32,...,8245.36,8.7586,0.03,374,2319,100.00,28.10,16.9454,316,3
160356,160356,53756,260,314,25.0041,0.6200,60.0,462.54,537.48,1276.24,...,7971.25,11.0657,0.02,310,1915,84.93,14.19,8.5503,316,2
160357,160357,53757,260,315,25.0033,0.6220,60.0,462.54,537.84,1272.95,...,7972.47,11.0537,0.02,311,1915,84.93,14.05,8.3729,316,1
160358,160358,53758,260,316,35.0036,0.8400,100.0,449.44,556.64,1374.61,...,8185.35,9.3998,0.02,338,2223,100.00,14.75,8.8446,316,0

In [13]:
column_list=df.columns
column_list

Index(['Unnamed: 0', 'Unnamed: 0.1', 'unit_ID', 'cycles', 'setting_1',
       'setting_2', 'setting_3', 'T2', 'T24', 'T30', 'T50', 'P2', 'P15', 'P30',
       'Nf', 'Nc', 'epr', 'Ps30', 'phi', 'NRf', 'NRc', 'BPR', 'farB',
       'htBleed', 'Nf_dmd', 'PCNfR_dmd', 'W31', 'W32', 'failure', 'RUL'],
      dtype='object')

In [22]:
df['RUL'].dtype

dtype('int64')

In [16]:
dtype_list=[]
for i in column_list:
    a=df[i].dtype
    dtype_list.append(a)

In [18]:
len(dtype_list)

30

In [23]:
dtype_list[0]

dtype('int64')

In [26]:

for i in range(len(column_list)):
    a=column_list[i]
#     print(a)
    b=dtype_list[i]
#     print(b)

Unnamed: 0
int64
Unnamed: 0.1
int64
unit_ID
int64
cycles
int64
setting_1
float64
setting_2
float64
setting_3
float64
T2
float64
T24
float64
T30
float64
T50
float64
P2
float64
P15
float64
P30
float64
Nf
float64
Nc
float64
epr
float64
Ps30
float64
phi
float64
NRf
float64
NRc
float64
BPR
float64
farB
float64
htBleed
int64
Nf_dmd
int64
PCNfR_dmd
float64
W31
float64
W32
float64
failure
int64
RUL
int64

In [ ]:
session.execute("")