In [3]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [14]:

cloud_config= {
        'secure_connect_bundle':'secure-connect-predictive-maintenence.zip'
}
auth_provider = PlainTextAuthProvider('TwftYiLLzOPdWfCjSuKRWGcj', 'N30vWjycqEiRHlUq7-q.gC5bHLM0xfUWmB_S5W8zoBNjzGZCOta1M3ZIbPLun3mPkypoG7d9CmBop40acOX1ZhTXc+ipoBh7IT_umeDwZS8sj4+Ki9nXAw0,Wc72pX,H')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv("Total_Train_Data.csv")
df

,Unnamed: 0,Unnamed: 0.1,unit_ID,cycles,setting_1,setting_2,setting_3,T2,T24,T30,...,NRc,BPR,farB,htBleed,Nf_dmd,PCNfR_dmd,W31,W32,failure,RUL
0,0,0,1,1,42.0049,0.8400,100.0,445.00,549.68,1343.43,...,8074.83,9.3335,0.02,330,2212,100.00,10.62,6.3670,321,320
1,1,1,1,2,20.0020,0.7002,100.0,491.19,606.07,1477.61,...,8046.13,9.1913,0.02,361,2324,100.00,24.37,14.6552,321,319
2,2,2,1,3,42.0038,0.8409,100.0,445.00,548.95,1343.12,...,8066.62,9.4007,0.02,329,2212,100.00,10.48,6.4213,321,318
3,3,3,1,4,42.0000,0.8400,100.0,445.00,548.70,1341.24,...,8076.05,9.3369,0.02,328,2212,100.00,10.54,6.4176,321,317
4,4,4,1,5,25.0063,0.6207,60.0,462.54,536.10,1255.23,...,7865.80,10.8366,0.02,305,1915,84.93,14.03,8.6754,321,316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160354,160354,53754,260,312,20.0037,0.7000,100.0,491.19,608.79,1495.60,...,8169.64,9.3035,0.03,369,2324,100.00,24.36,14.5189,316,4
160355,160355,53755,260,313,10.0022,0.2510,100.0,489.05,605.81,1514.32,...,8245.36,8.7586,0.03,374,2319,100.00,28.10,16.9454,316,3
160356,160356,53756,260,314,25.0041,0.6200,60.0,462.54,537.48,1276.24,...,7971.25,11.0657,0.02,310,1915,84.93,14.19,8.5503,316,2
160357,160357,53757,260,315,25.0033,0.6220,60.0,462.54,537.84,1272.95,...,7972.47,11.0537,0.02,311,1915,84.93,14.05,8.3729,316,1
160358,160358,53758,260,316,35.0036,0.8400,100.0,449.44,556.64,1374.61,...,8185.35,9.3998,0.02,338,2223,100.00,14.75,8.8446,316,0

In [17]:
df.drop(columns=['Unnamed: 0.1'],inplace=True)
column_list=df.columns
dtype_list=[]
for i in column_list:
    a=str(df[i].dtype)
    dtype_list.append(a)

In [18]:
column_list

Index(['Unnamed: 0', 'unit_ID', 'cycles', 'setting_1', 'setting_2',
       'setting_3', 'T2', 'T24', 'T30', 'T50', 'P2', 'P15', 'P30', 'Nf', 'Nc',
       'epr', 'Ps30', 'phi', 'NRf', 'NRc', 'BPR', 'farB', 'htBleed', 'Nf_dmd',
       'PCNfR_dmd', 'W31', 'W32', 'failure', 'RUL'],
      dtype='object')

In [19]:
dtype_list

['int64',
 'int64',
 'int64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'float64',
 'int64',
 'int64',
 'float64',
 'float64',
 'float64',
 'int64',
 'int64']

In [20]:
list_total=[]

for i in range(len(column_list)):
    a=column_list[i]
    a=a.replace(" ","").replace(":","")
    
    
    b=dtype_list[i]
    list_total.append(a)
    if b  in ['float8','float16','float32','float64']:
        c='float'
        list_total.append(c)
    if b  in ['int8','int16','int32','int64']:
        c='int'
        list_total.append(c)
        
    
    
    
    if a=="Unnamed0":
        list_total.append("PRIMARY KEY")
    list_total.append(',')

In [21]:
 list_total

['Unnamed0',
 'int',
 'PRIMARY KEY',
 ',',
 'unit_ID',
 'int',
 ',',
 'cycles',
 'int',
 ',',
 'setting_1',
 'float',
 ',',
 'setting_2',
 'float',
 ',',
 'setting_3',
 'float',
 ',',
 'T2',
 'float',
 ',',
 'T24',
 'float',
 ',',
 'T30',
 'float',
 ',',
 'T50',
 'float',
 ',',
 'P2',
 'float',
 ',',
 'P15',
 'float',
 ',',
 'P30',
 'float',
 ',',
 'Nf',
 'float',
 ',',
 'Nc',
 'float',
 ',',
 'epr',
 'float',
 ',',
 'Ps30',
 'float',
 ',',
 'phi',
 'float',
 ',',
 'NRf',
 'float',
 ',',
 'NRc',
 'float',
 ',',
 'BPR',
 'float',
 ',',
 'farB',
 'float',
 ',',
 'htBleed',
 'int',
 ',',
 'Nf_dmd',
 'int',
 ',',
 'PCNfR_dmd',
 'float',
 ',',
 'W31',
 'float',
 ',',
 'W32',
 'float',
 ',',
 'failure',
 'int',
 ',',
 'RUL',
 'int',
 ',']

In [22]:
list_total.pop(-1)
tu=" ".join(list_total)
aa=f"CREATE TABLE train_data.abcde({tu});"
aa

'CREATE TABLE train_data.abcde(Unnamed0 int PRIMARY KEY , unit_ID int , cycles int , setting_1 float , setting_2 float , setting_3 float , T2 float , T24 float , T30 float , T50 float , P2 float , P15 float , P30 float , Nf float , Nc float , epr float , Ps30 float , phi float , NRf float , NRc float , BPR float , farB float , htBleed int , Nf_dmd int , PCNfR_dmd float , W31 float , W32 float , failure int , RUL int);'

In [23]:
session.execute(aa)

In [ ]:
with open(self.filename,'r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
                
        
    for i in data_csv:
        self.session.execute("INSERT INTO concentration_of_lc50.qsar_fish_toxicity (Unnamed ,CIC0 , SM1_Dz , GATS1i ,NdsCH ,NdssC , MLOGP , LC50]) values(%s,%s,%s,%s,%s,%s,%s,%s)",[int(i[0]),float(i[2]),float(i[3]),float(i[4]),float(i[5]),float(i[6]),float(i[7]),float(i[8])])

In [25]:
import csv

In [ ]:
with open("Total_Train_Data.csv",'r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    for i in data_csv:
        print(i)

In [41]:
with open("Total_Train_Data.csv",'r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    for i in data_csv:
        print(i)
        print(type(i))
        print("okk")

        break

['0', '0', '1', '1', '42.0049', '0.84', '100.0', '445.0', '549.68', '1343.43', '1112.93', '3.91', '5.7', '137.36', '2211.86', '8311.32', '1.01', '41.69', '129.78', '2387.99', '8074.83', '9.3335', '0.02', '330', '2212', '100.0', '10.62', '6.367000000000001', '321', '320']
<class 'list'>
okk

In [32]:
len(list_total)

87

In [33]:
len(df.columns)

29

In [ ]:
data_csv= csv.reader(df,delimiter=',')
    for i in data_csv:
        print(i)

In [ ]:
   self.session=session
        self.filename=filename
        # df=pd.read_csv("Total_Train_Data.csv")
        df=pd.read_csv("Total_Test_Data.csv")
        # df.drop(columns=['Unnamed: 0.1'],inplace=True)
        column_list=df.columns
        dtype_list=[]
        for i in column_list:
            a=str(df[i].dtype)
            dtype_list.append(a)
        list_total=[]

        for i in range(len(column_list)):
            a=column_list[i]
            a1=a.replace(" ","").replace(":","")
    
    
            b=dtype_list[i]
            list_total.append(a1)
            if b  in ['float8','float16','float32','float64']:
                c='float'
                list_total.append(c)
            if b  in ['int8','int16','int32','int64']:
                c='int'
                list_total.append(c)
        
    
    
    
            if a=="Unnamed0":
                list_total.append("PRIMARY KEY")
            list_total.append(',')
        list_total.pop(-1)

In [4]:
import pandas as pd

In [13]:
def Create_Table():
    df=pd.read_csv("Total_Train_Data.csv")
#         df=pd.read_csv(self.filename)
        # df.drop(columns=['Unnamed: 0.1'],inplace=True)
    column_list=df.columns
    dtype_list=[]
    for i in column_list:
        a=str(df[i].dtype)
        dtype_list.append(a)
    list_total=[]
    
    for i in range(len(column_list)):
        a=column_list[i]
        a=a.replace(" ","").replace(":","")
    
    
        b=dtype_list[i]
        list_total.append(a)
        if b  in ['float8','float16','float32','float64']:
            c='float'
            list_total.append(c)
        if b  in ['int8','int16','int32','int64']:
            c='int'
            list_total.append(c)
        
    
    
    
        if a=="Unnamed0":
            list_total.append("PRIMARY KEY")
        list_total.append(',')
    list_total.pop(-1)
    tu=" ".join(list_total)
    aa=f"CREATE TABLE train_data.train_test({tu});"
    print(aa)
#     self.session.execute(aa)
    print("Table created")

In [14]:
Create_Table()

CREATE TABLE train_data.train_test(Unnamed0 int PRIMARY KEY , Unnamed0.1 int , unit_ID int , cycles int , setting_1 float , setting_2 float , setting_3 float , T2 float , T24 float , T30 float , T50 float , P2 float , P15 float , P30 float , Nf float , Nc float , epr float , Ps30 float , phi float , NRf float , NRc float , BPR float , farB float , htBleed int , Nf_dmd int , PCNfR_dmd float , W31 float , W32 float , failure int , RUL int);
Table created

In [ ]:
def Create_Table():
    df=pd.read_csv("Total_Test_Data.csv")
#         df=pd.read_csv(self.filename)
        # df.drop(columns=['Unnamed: 0.1'],inplace=True)
    column_list=df.columns
    dtype_list=[]
    for i in column_list:
        a=str(df[i].dtype)
        dtype_list.append(a)
    list_total=[]
    
    for i in range(len(column_list)):
        a=column_list[i]
        a=a.replace(" ","").replace(":","")
    
    
        b=dtype_list[i]
        list_total.append(a)
        if b  in ['float8','float16','float32','float64']:
            c='float'
            list_total.append(c)
        if b  in ['int8','int16','int32','int64']:
            c='int'
            list_total.append(c)
        
    
    
    
        if a=="Unnamed0":
            list_total.append("PRIMARY KEY")
        list_total.append(',')
    list_total.pop(-1)
    tu=" ".join(list_total)
    aa=f"CREATE TABLE train_data.train_test({tu});"
    print(aa)
#     self.session.execute(aa)
    print("Table created")